<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4 ml-4 mr-4 p-3">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/img/logo-green.png" height="30" />
    </a>
    <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->

    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/tours">Tours</a>
      <a class="nav-item nav-link" routerLink="/contact_us">Contact Us</a>
    </div>

    <div class="flex-grow-1 float-right">
      <a routerLink="/register" class="float-right sign-up mr-2">Sign up</a>
      <a routerLink="/login" class="float-right login mr-2">Login</a>
    </div>
  </nav>
</header>
