.login,
.sign-up {
  background-color: transparent;
  border-color: #55c57a;
  color: #20bf6b;
  fill: #20bf6b;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.sign-up {
  background-color: #20bf6b;
  border-color: #55c57a;
  color: aliceblue;
}

.sign-up:hover {
  opacity: 0.6;
}
