<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-sm-4 py-3" *ngFor="let tour of toursData">
      <div class="card shadow-sm bg-white rounded">
        <img
          src="./assets/img/tours/{{ tour.imageCover }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ tour.name }}</h5>
          <p class="card-text">
            {{ tour.summary }}
          </p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating: {{ tour.ratingsAverage }}</li>
          <li class="list-group-item">Price: {{ tour.price }}$</li>
          <li class="list-group-item">Duration: {{ tour.duration }} Days</li>
          <li class="list-group-item">
            Start Location: {{ tour.startLocation.description }}
          </li>
          <li class="list-group-item">Stops: {{ tour.locations.length }}</li>
          <li class="list-group-item">
            Start Date: {{ tour.startDates[0] | date: "MMMM YYYY" }}
          </li>
        </ul>
        <button type="button" class="btn btn-custom m-2">Details</button>
      </div>
    </div>
  </div>
</div>
