<div class="ml-4 mr-4">
  <div class="card-deck">
    <div class="grid-container">
      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-2-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE SEA EXPLORER</h5>
          <p class="card-text">
            Exploring the jaw-dropping US east coast by foot and by boat
          </p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-3-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE SNOW ADVENTURER</h5>
          <p class="card-text">
            Exciting adventure in the snow with snowboarding and skiing
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-6-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE SPORTS LOVER</h5>
          <p class="card-text">
            Surfing, skating, parajumping, rock climbing and more, all in one
            tour
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-9-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE NORTHERN LIGHTS</h5>
          <p class="card-text">
            Enjoy the Northern Lights in one of the best places in the world
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-7-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE WINE TASTER</h5>
          <p class="card-text">
            Exquisite wines, scenic views, exclusive barrel tastings, and much
            more
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-8-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE STAR GAZER</h5>
          <p class="card-text">
            The most remote and stunningly beautiful places for seeing the night
            sky
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>

      <div class="card" style="width: 22rem">
        <img src="./assets/img/tours/tour-1-cover.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">THE FOREST HIKER</h5>
          <p class="card-text">
            Breathtaking hike through the Canadian Banff National Park
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating</li>
          <li class="list-group-item">Price</li>
        </ul>
        <button type="button" class="btn btn-success m-4">Details</button>
      </div>
    </div>
  </div>
</div>
