<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">REGISTER</h3>
      <div class="card-text">
        <!--
              <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
        <form>
          <!-- to error: add class "has-danger" -->
          <div class="form-group">
            <label>Name</label>
            <input type="text" #input1 class="form-control form-control-sm" 
            (blur)="saveName(input1.value)"
            />
            <label>Email address</label>
            <input type="email" #input2 class="form-control form-control-sm"
            (blur)="saveEmail(input2.value)"
             />
          </div>
          <div class="form-group">
            <label>Password</label>

            <input type="password" #input3 class="form-control form-control-sm" 
            (blur)="savePassword(input3.value)"
            />
          </div>
          <button type="submit" class="btn btn-custom" (click)="registerCustomer()">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
