<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">REGISTER</h3>
      <div class="card-text">
        <form [formGroup]="form" (submit)="onRegister()">
          <div class="form-group">
            <label>Name</label>
            <input  formControlName="name" class="form-control form-control-sm" placeholder="Name"
            />
            <label>Email address</label>
            <input formControlName="email" class="form-control form-control-sm" placeholder="Email"
             />
          </div>
          <div class="form-group">
            <label>Password</label>

            <input  formControlName="password" class="form-control form-control-sm" placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-custom" >Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
